@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --red-500: #ef4444;
  --orange-500: #f97316;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-playfair {
  font-family: var(--font-playfair);
}

@layer {
  .bg-red-orange-500 {
      background-color: color-mix(
          in srgb,
          var(--red-500) 50%,
          var(--orange-500) 50%
      );
  }
  .border-red-orange-500 {
      border-color: color-mix(
          in srgb,
          var(--red-500) 50%,
          var(--orange-500) 50%
      );
  }
  .text-red-orange-500 {
      color: color-mix(
          in srgb,
          var(--red-500) 50%,
          var(--orange-500) 50%
      );
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

/* .section {
  @apply py-24 md:py-32 lg:py-40
} */

/* If not using Tailwind aspect-ratio plugin */
.aspect-w-16.aspect-h-9 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}
.aspect-w-16.aspect-h-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



